<div class="add-package-units">
  <div class="_head d-flex justify-content-between align-items-center">
    <div class="title">
      <h2 class="m-0" style="color: #008848">{{'cap_nhat_don_vi' | translate}}</h2>
    </div>
    <span class="_icon" nz-icon nzType="close" nzTheme="outline" (click)="close()">
    </span>
  </div>

  <form nz-form  [formGroup]="editPackageUnitsForm" class="main">
    <nz-form-item class="mb-1 w-100">
      <nz-form-label [nzSpan]="24">
        <b>{{'ten_don_vi' | translate }}</b>
        <span style="color:red">*</span>
      </nz-form-label>
      <nz-form-control [nzSpan]="24">
        <div class="d-flex flex-row" style="gap:8px">
          <input nz-input [formControl]="getFormControl('unit_' + functionService.languageTempCode)" (blur)="handleSave()" placeholder="{{'nhap_ten_don_vi' | translate }}" />
          <app-select-language-config [isAdmin]="true"></app-select-language-config>
        </div>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item class="mb-1 w-100">
      <nz-form-label [nzSpan]="24"><b>{{'gia' | translate }}</b><span style="color:red">*</span></nz-form-label>
      <nz-form-control [nzSpan]="24">
        <input nz-input formControlName="price" class="input price2" (blur)="handleSave()" placeholder="{{'nhap_gia' | translate }}" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item class="mb-1 w-100">
      <nz-form-label [nzSpan]="24"><b>{{'so_ngay_su_dung' | translate }}</b><span style="color:red">*</span></nz-form-label>
      <nz-form-control [nzSpan]="24" >
        <input nz-input formControlName="ratio" class="input ratio2" (blur)="handleSave()" placeholder="{{'nhap_so_ngay_su_dung' | translate }}" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item class="mb-1 w-100">
      <nz-form-label [nzSpan]="24"><b>{{'Barocde' }}</b></nz-form-label>
      <div class="d-flex align-items-center w-100 justify-content-between">
        <input formControlName="barcode" #barcodesize maxlength="15" nz-input (blur)="handleSave()" placeholder="{{'nhap_barcode' | translate}}" />
        <i class="ml-1" style="margin: auto; cursor: pointer" nz-icon nzType="reload" nzTheme="outline" nz-tooltip
          nzTooltipTitle="{{'tao_ma_vach_tu_dong' | translate}}" nzTooltipPlacement="bottom"
          (click)="generateBarcodesAutomatically()"></i>
      </div>
    </nz-form-item>
  </form>
  <div class="d-flex justify-content-end" style="gap:16px" *ngIf="data.type == 'add'">
    <button nz-button class="nz-hover-border"
      style="background-color: var(--ion-color-vh-white); color: var(--ion-color-vh-black)" nzType="default"
      (click)="dialogRef.close(false)">
      {{"huy" | translate}}
    </button>
    <button nz-button class="nz-hover-border" [disabled]="!editPackageUnitsForm.valid"
      [ngStyle]="{opacity: !editPackageUnitsForm.valid || data.ratioExist === true? .5: 1}"
      style="background-color: var(--ion-color-vh-green); color: var(--ion-color-vh-white)"
      class="nz-hover-border-green" (click)="handleSavePackageUnits()">
      {{"luu" | translate }}
    </button>
  </div>
</div>