.hosting-container {
    min-height: 300px;
    padding: 20px 50px 0 50px;
    height: 300px;
    width: 100%;
}

.card {
    width: 100%;

}

.hosting-title {
    font-size: 28px;
    color: #00a859;
}