.wrapper {
  padding: 5px;
  max-width: 100%;
  height: 100%;
  overflow: auto;

  &::-webkit-scrollbar {
    width: 4px;
    height: 4px;
  }
  /* Track */
  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
  }
  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: #008848;
  }
  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: #008848;
  }
}


mat-tree::ng-deep {
  height: 100%;

  mat-nested-tree-node {
    display: block;
    // transform: translateX(-4px);
  }

  ul {
    padding-left: 20px;
  }

  li {
    cursor: pointer;
  }

  .mat-tree-node {
    min-height: 26px;
    white-space: nowrap;
  }

  .mat-button-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .mat-icon-button,
  .mat-icon {
    font-size: 16px;
    width: 16px;
    height: 16px;
    line-height: normal;
  }

  .mat-tree-node, .mat-nested-tree-node {
    font-size: 12px;
  }

  .anticon {
    margin-right: 2px;
    color: var(--ion-color-primary);
  }
}


.example-tree ul,
.example-tree li {
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
}


.node-selected {
  color: var(--ion-color-primary);
  font-weight: bold;
}
