<nz-layout id="purchase-invoice-today">
  <div class="purchase-invoice-today-header">
    <div class="row p-0 m-0">
      <div
        class="col-6 p-0 m-0 d-flex align-items-center justify-content-between"
      >
      <!-- Tiêu đề  -->
        <span class="title d-flex flex-row" style="gap:8px">
          <b>{{ "danh_sach_tin_tuc" | translate }}</b>
        </span>
        <!-- Thanh tìm kiếm -->
        <div class="search">
          <nz-input-group [nzSuffix]="suffixIconSearch">
            <input
              type="text"
              nz-input
              placeholder="{{'tim_kiem_tieu_de_tin_tuc' | translate}}"
              [(ngModel)]="keySearch"
              (keyup.enter)="onSearchNews()"
            />
          </nz-input-group>
          <ng-template #suffixIconSearch>
            <span
              (click)="onSearchNews()"
              nz-icon
              nzType="search"
            ></span>
          </ng-template>
        </div>
      </div>
      <div class="col-6 p-0 m-0 d-flex align-items-center justify-content-end select">
        <!-- Chọn danh mục -->
        <div style="margin: 0 16px; width: 18rem ">
            <nz-select
              [nzPlaceHolder]="'chon_danh_muc' | translate"
              [(ngModel)]="idCategory"
              [nzLoading]="loadingCategory"
              (ngModelChange)="idCategory = $event; keySearch = ''; news = []; totalPages = 0"
              nzShowSearch 
            >
              <nz-option *ngIf="!loadingCategory" [nzValue]="'all'" [nzLabel]="'tat_ca' | translate"></nz-option>
              <ng-container *ngFor="let o of categories">
                <nz-option *ngIf="!loadingCategory" nzCustomContent [nzValue]="o._id" [nzLabel]="renderOptionCategory(o)">
                  {{ renderOptionCategory(o) }}
                </nz-option>
              </ng-container>
              <nz-option *ngIf="loadingCategory" nzDisabled nzCustomContent>
                <i nz-icon nzType="loading" class="loading-icon"></i>
                Loading Data...
              </nz-option>
            </nz-select>
        </div>
        <button
          class="_btn _btn_soft d-flex align-items-center right-all-content mr-2"
          nz-button
          nzType="default"
          [disabled]="loadingCategory"
          (click)="resetPagination();getNews()"
        >
          {{'xem' | translate}}
        </button>
        <button
          class="_btn _btn_add d-flex align-items-center right-all-content"
          nz-button
          nzType="default"
          [disabled]="loadingCategory"
          (click)="addNews()"
        >
          {{ "them_tin_tuc" | translate }}
        </button>
      </div>
    </div>
  </div>

  <div style="margin-top: 10px">
    <nz-table
      #virtualTable
      [nzVirtualItemSize]="77"
      [nzData]="news"
      [nzVirtualForTrackBy]="trackByFn"
      [nzLoading]="loading"
      [nzFrontPagination]="false"
      [nzShowPagination]="false"
      [nzScroll]="{ x: '1200px', y: tableHeight }"
      [nzFooter]="news?.length && footerTpl"
    >
      <thead>
        <tr>
          <th nzWidth="10%" nzAlign="center"><b>{{'anh' | translate}}</b></th>
          <th nzWidth="30%" nzAlign="left" (click)="handleSort(titleField)">
            <b>{{'tieu_de_tin_tuc' | translate}}</b>
            <span 
              *ngIf="news?.length" 
              nz-icon 
              [nzType]="sortby[titleField] ? 'arrow-down' : 'arrow-up'" 
              nzTheme="outline"
              >
            </span>
          </th>
          <th nzWidth="10%" nzAlign="left"><b>{{'danh_muc' | translate}}</b></th>
          <th nzWidth="25%" nzAlign="center"><b>{{'ngay_dang' | translate}}</b></th>
          <th nzWidth="10%" nzAlign="center"><b>{{'an_hien_thi_tren_web' | translate}}</b></th>
          <th nzWidth="15%" nzAlign="center"><b>{{'thao_tac' | translate}}</b></th>
        </tr>
      </thead>
      <tbody>
        <ng-template nz-virtual-scroll let-item let-index="index">
          <tr>
            <td>
              <div
                class="image d-flex align-items-center justify-content-center"
              >
                <img
                  onerror="src='./assets/root/images/system/icons/image_default.svg'"
                  [src]="item.imgs ? item.imgs[0] : ''"
                  [alt]="item[titleField]"
                  width="42px"
                />
              </div>
            </td>
            <td>
              <div
                class="d-flex justify-content-start text-start"
                style="margin-left: 20px; font-weight: 600"
              >
                <span>{{ item[titleField] }}</span>
              </div>
            </td>
            <td>
              <div class="d-flex justify-content-start text-start">
                <span>{{ item.category_name || 'Trống' }}</span>
              </div>
            </td>
            <td>
              <div class="d-flex justify-content-center text-center">
                <span>{{ item.date | date : "dd-MM-yyyy" }}</span>
              </div>
            </td>
            <td nzAlign="center">
              <div class="status">
                <label class="switch">
                  <nz-switch
                    [(ngModel)]="item.webapp_hidden"
                    (ngModelChange)="updateHiddenNews(item, { webapp_hidden: $event })"
                  ></nz-switch>
                </label>
              </div>
            </td>
            <td nzAlign="center">
              <span
                  style="color: #008848; margin-right: 0.5rem;cursor: pointer; font-size: 18px" 
                  nz-icon
                  nzType="edit"
                  nzTheme="outline"
                  (click)="editNews(item)"
                ></span>
                <span
                   style="color: #ff000a;cursor: pointer; font-size: 18px"
                  nz-icon
                  nzType="delete"
                  nzTheme="outline"
                  (click)="deteleNews(item)"
                ></span>
            </td>
          </tr>
        </ng-template>
      </tbody>

      <ng-template #footerTpl>
        <app-pagination
          [pageCurrent]="pageCurrent"
          [totalPages]="totalPages"
          [limit]="limit"
          [pageShowChoose]="pageShowChoose"
          [pageGoto]="pageGoto"
          (pageIndexChange)="pageIndexChange($event)"
          (limitChange)="limitChange($event)"
        ></app-pagination>
      </ng-template>

    </nz-table>
  </div>
</nz-layout>


