<nz-layout id="purchase-invoice-today">
  <div class="purchase-invoice-today-header">
    <div class="row p-0 m-0">
      <div class="col-6 p-0 m-0 d-flex align-items-center justify-content-between">
        <span class="title"><b>{{'khach_hang' | translate}}</b></span>
        <div class="search">
          <nz-input-group [nzSuffix]="suffixIconSearch">
            <input #box type="text" (keyup.enter)="pageCurrent = 1;searchCustomer()" nz-input [(ngModel)]="keySearch"
              placeholder="{{'tim_kiem_email_khach_hang' | translate}}" />
          </nz-input-group>
          <ng-template #suffixIconSearch>
            <span nz-icon nzType="search"></span>
          </ng-template>
        </div>
      </div>
      <div class="col-6 p-0 m-0 d-flex align-items-center justify-content-end ">
        <button nz-button class="data mx-2" (click)="exportListCustomer()">{{'xuat_du_lieu_ra_file_excel' | translate}}</button>
        <nz-range-picker class="mr-2" nzFormat='dd/MM/yyyy' [(ngModel)]="date" (ngModelChange)="keySearch=''; customers = []" [nzAllowClear]="false"></nz-range-picker>
        <button class="_btn _btn_soft d-flex align-items-center right-all-content mr-2" nz-button nzType="default"
        (click)="resetPagination();getData()">
        {{'xem' | translate}}
        </button>
        <button class="_btn _btn_add d-flex align-items-center right-all-content" nz-button nzType="default"
          (click)="openAddCustomer()">
          <i class="bi bi-plus"></i> {{ "them_khach_hang" | translate }}
        </button>
      </div>
    </div>
  </div>
  <div style="margin-top: 16px;">
    <nz-table 
      [nzScroll]="{ y: tableHeight }" 
      [nzData]="customers" 
      #tableSales 
      [nzShowPagination]="false"
      nzShowSizeChanger 
      [nzLoading]="loading" 
      [nzFooter]="customers.length && footerTpl"
    >
      <thead class="_thead">
        <tr>
          <th nzWidth="20%" (click)="handleSort('name')">
            <b>{{'ten_khach_hang' | translate}}
              <span 
                *ngIf="customers.length" 
                nz-icon 
                
                [nzType]="sortby.name ? 'arrow-down' : 'arrow-up'" 
                nzTheme="outline"
                >
              </span>
            </b>
          </th>
          <th nzWidth="12%">
            <b>{{'so_dien_thoai' | translate}}</b>
            <span class="ml-1" role="button" nzTheme="outline"></span>
          </th>
          <th nzWidth="20%" (click)="handleSort('email')">
            <b>Email</b>
            <span 
              *ngIf="customers.length" 
              nz-icon 
              
              [nzType]="sortby.email ? 'arrow-down' : 'arrow-up'" 
              nzTheme="outline"
              >
            </span>
          </th>
          <th nzWidth="20%" ><b>{{'dia_chi' | translate}}</b></th>
          <th nzWidth="20%" >
            <b>{{'ngay_dang_ky' | translate}}</b>
           <span 
              *ngIf="customers.length" 
              nz-icon 
              (click)="handleSort('email')"
              [nzType]="sortby.email ? 'arrow-down' : 'arrow-up'" 
              nzTheme="outline"
              >
            </span>
          </th>
          <th nzWidth="8%" nzAlign="center">{{'thao_tac' | translate}}</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let data of customers">
          <tr  >
            <td>{{ data.name }}</td>
            <td>{{ data.phone }}</td>
            <td>{{ data.email }}</td>
            <td>{{ data.address }}</td>
            <td>{{ data.date_register | date : 'dd/MM/yyyy'}}</td>
            <td nzAlign="center">
              <span class="edit mr-1" (click)="openEditCustomer(data)"> <i class="bi bi-pencil-square"></i></span>
              <span class="delete" (click)="deleteCustomer(data)"><i class="bi bi-trash"></i></span>
            </td>
          </tr>
        </ng-container>
      </tbody>
    </nz-table>
    <ng-template #footerTpl>
      <app-pagination
      [pageCurrent]="pageCurrent"
      [totalPages]="totalPages"
      [limit]="limit"
      [pageShowChoose]="pageShowChoose"
      [pageGoto]="pageGoto"
      (pageIndexChange)="pageIndexChange($event)"
      (limitChange)="limitChange($event)"
    ></app-pagination>
    </ng-template>
  </div>
</nz-layout>

