.form_lot_product {
  height: 350px;
  overflow: auto;
  &::-webkit-scrollbar {
    display: none;
  }
  .btn_unit {
    margin-left: 8px;
    border-radius: 5px;
    border: 1px solid #c9c9c9;
    cursor: pointer;
  }
  sup {
    position: relative !important;
    top: -0.5em !important;
  }
}

.form_sub_product {
  overflow: auto;
  height: 450px;
  &::-webkit-scrollbar {
    display: none;
  }
  .btn_unit {
    margin-left: 8px;
    border-radius: 5px;
    border: 1px solid #c9c9c9;
    cursor: pointer;
  }
  sup {
    position: relative !important;
    top: -0.5em !important;
  }
}

.check-box {
  label + input[type="checkbox"]:checked {
    display: block;
    cursor: pointer;
  }
  input[type="checkbox"] {
    display: none;
  }
  input[type="checkbox"] + label:before {
    content: "\2714";
    border: 0.1rem solid #000;
    border-radius: 0.2rem;
    display: inline-block;
    // width: 1rem;
    height: 1.3em;
    padding-left: 0.1rem;
    padding-bottom: 0.2rem;
    margin-right: 0.2rem;
    vertical-align: bottom;
    color: transparent;
    transition: 0.2s;
  }
  input[type="checkbox"]:checked + label:before {
    background-color: var(--ion-color-vh-pink);
    border-color: var(--ion-color-vh-pink);
    color: #fff;
  }
}
.item-line {
  margin: 8px !important;
}
::ng-deep .ant-tabs-tab-btn {
  font-weight: bold;
}

::ng-deep .mat-dialog-container::-webkit-scrollbar {
  display: none;
}

nz-select {
  ::ng-deep .ant-select-selector {
    height: 30px !important;
    overflow-y: auto;
    &::-webkit-scrollbar {
      width: 2px;
    }
    /* Track */
    &::-webkit-scrollbar-track {
      box-shadow: inset 0 0 5px grey;
      border-radius: 10px;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
      background: #008848;
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
      background: #008848;
    }
  }
}

::ng-deep nz-select-item {
  margin-top: 0 !important;
  .ant-select-selection-item-remove {
    margin-top: -2px !important;
  }
}

::ng-deep .ant-tabs-tabpane {
  height: 100%;
}

:host::ng-deep .ant-btn {
  &:hover {
    color: var(--ion-color-vh-green);
    border-color: var(--ion-color-vh-green);
  }
  &:focus {
    color: var(--ion-color-vh-green);
    border-color: var(--ion-color-vh-green);
  }
}
._btn_title_list {
  border-radius: 18px;
  &:hover {
    color: var(--ion-color-vh-white);
  }
}
.add-product {
  ._head {
    height: 4%;
    max-height: 4%;
    .title {
      display: flex;
      flex-direction: row;
      gap: 8px;
      h2 {
        color: var(--ion-color-vh-green);
        font-weight: 500;
      }
    }
    ._icon {
      color: #ff000a;
      &:hover {
        cursor: pointer;
      }
    }
  }
  .main {
    height: 90%;
    max-height: 700px;
    overflow: hidden scroll;
    font-size: 14px;
    &::-webkit-scrollbar {
      display: none;
    }

    .btn-light {
      background-color: var(--ion-color-vh-white);
      border-color: var(--ion-color-vh-pink);
      color: var(--ion-color-vh-pink);
    }
    .btn-success {
      background-color: var(--ion-color-vh-pink);
      border-color: var(--ion-color-vh-white);
      color: var(--ion-color-vh-white);
      margin-left: 10pt;
    }
    .search {
      justify-content: flex-end;
      display: flex;
      input {
        width: 18rem;
        border: 1px solid #8e8e93;
      }
    }
    .col-6 {
      .col-5 {
        .show-image-icon {
          background-color: var(--ion-color-vh-white);
          width: 70pt;
          height: 70pt;
          box-shadow: 1px 1px 3px;
        }
        .show-image-banner {
          background-color: var(--ion-color-vh-white);
          width: 142pt;
          height: 36pt;
          box-shadow: 1px 1px 3px;
        }
      }
    }
    .form {
      padding: 16px 0px;
      .padding {
        padding-top: 5pt;
        sup {
          display: contents;
        }
      }
      input {
        width: 100%;
      }
      .col-6 {
        .row {
          .col-5 {
            .title-add-image {
              font-size: 14px;
            }
            .button {
              text-align: center;
              padding: 12px;
            }
          }
        }
        textarea {
          margin-top: 8px;
          border: 1px solid #c8c7cc;
          padding: 3px;
          border-radius: 5px;
        }
        textarea:focus {
          opacity: 0.8;
          outline: none !important;
          border: 1px solid var(--ion-color-vh-pink);
        }
        .product-random {
          padding: 8px 0px;
        }
      }
      .padding-8px {
        padding: 8px 0px;
      }
      .col-12 {
        .ckeditor {
          padding: 8px 0px;
        }
        .title {
          h5 {
            color: var(--ion-color-vh-pink);
            font-weight: 500;
            font-size: 18px;
          }
        }
        ._body_seo {
          border: 1px solid #c8c7cc;
          border-radius: 5px;
          padding: 10px;
          .text {
            width: 92%;
            input {
              width: 100%;
            }
          }
          .d-flex {
            padding: 8px 0;
          }
        }
      }
      .button_list_unit {
        border-radius: 5px;
        padding: 4px 15px !important;
        height: 28px;
        width: 11vw;
      }
      sup {
        top: 8px !important;
        margin-left: 2px;
      }
    }
    ::ng-deep .ant-tabs-tab-btn {
      font-weight: normal !important;
    }

  }
  ._foot {
    height: 4%;
    max-height: 4%;
    margin-top: 18px;

    @mixin btn($color, $background, $border) {
      color: $color;
      background: $background 0% 0% no-repeat padding-box;
      border: 1px solid $border;
      span {
        color: $color;
      }
    }
    ._btn {
      border-radius: 5px !important;
      font-size: 0.9rem;
      &_add {
        @include btn(#ffffff, #008848, #008848);
      }
      &_cancel {
        @include btn(#373737, #ffffff, #c8c7cc);
      }
    }
  }
}



:host ::ng-deep .ck-editor__editable_inline {
  min-height: 300px;
  border: 1px solid var(--ion-color-vh-green);
  overflow: unset;
}

ckeditor ::ng-deep {
  --ck-spacing-standard: 0px;
  --ck-spacing-large: 0px;
  
  .ck-color-grid {
    max-height: 180px;
    overflow: auto;
  }
  
  .ck-font-family-dropdown .ck-dropdown__panel,
  .ck-font-size-dropdown .ck-dropdown__panel {
    max-height: 280px;
    overflow: auto;
  }

  .ck-font-size-dropdown .ck-dropdown__panel .ck.ck-list__item .ck-button .ck-button__label {
    line-height: calc(var(--ck-line-height-base) * 2 * var(--ck-font-size-base));
  }

  // xóa margin mặc định của mat 
  h1, h2, h3, h4, h5, h6, p {
    margin: 0;
  }
}

::ng-deep .ant-tabs-content-holder {
  width: 100%;
}

