<div class="home-admin">
    <div class="container-fluid">
        <p class="content-color">{{'tong_quan' | translate}}</p>
        <div class="home-today">
            <p class="title">Hôm nay</p>
            <div class="row ">
                <div class="col box box-order">
                    <div class="content-box m-auto">
                      <p class="content-box-number">14</p>
                      <p>Đơn đặt hàng mới</p>
                    </div>
                    <div class="content-box">
                        <img src="/assets/root/images/system/icons/circle-home.svg" alt="circle-home">
                    </div>
                </div>
                <div class="col box box-customer">
                    <div class="content-box m-auto">
                      <p  class="content-box-number">3 </p>
                      <p>Khách hàng liên hệ</p>
                    </div>
                    <div class="content-box">
                        <img src="/assets/root/images/system/icons/circle-home.svg" alt="circle-home">
                    </div>
                </div>
                <div class="col box box-new">
                    <div class="content-box m-auto">
                      <p  class="content-box-number">1</p>
                      <p>Tin tức đã đăng</p>
                    </div>
                    <div class="content-box">
                        <img src="/assets/root/images/system/icons/circle-home.svg" alt="circle-home">
                    </div>
                </div>
                <div class="col box box-post">
                    <div class="content-box m-auto">
                      <p  class="content-box-number">0</p>
                      <p>Bài viết đã đăng</p>
                    </div>
                    <div class="content-box">
                        <img src="/assets/root/images/system/icons/circle-home.svg" alt="circle-home">
                    </div>
                </div>
            </div>
        </div>
        <div class="home-today mt-2">
            <p class="title ">7 ngày</p>
            <div class="row ">

            </div>
        </div>
    </div>
</div>
