<div class="edit-product h-100" *ngIf="doneLoad">
  <div class="_head d-flex justify-content-between align-items-center">
    <div class="title">
      <h2 class="m-0">{{'cap_nhat_dich_vu' | translate}}</h2>
    </div>
    <span class="_icon" nz-icon nzType="close" nzTheme="outline" (click)="close()">
    </span>
  </div>
  <div class="main">
    <form class="form" *ngIf="data.dataEditService" [formGroup]="editProductForm">
      <div class="row">
        <!-- Tên, danh mục -->
        <div class="col-6 padding">
          <div>
            <label for="name-input">{{'ten_dich_vu' | translate}}<sup>*</sup></label>
          </div>
          <div class="layout-input d-flex" style="gap:8px">
            <input class="input" type="text" [formControl]="getFormControl('name_' + functionService.languageTempCode)" placeholder="{{'nhap_ten_dich_vu' | translate}}"
              (blur)="updateDynamicField('name', editProductForm.value['name_' + functionService.languageTempCode])">
            <app-select-language-config [isAdmin]="true"></app-select-language-config>
          </div>
        </div>
        <div class="col-6 padding">
          <div>
            <label for="name-input">{{'danh_muc' | translate}} <sup>*</sup></label>
          </div>
          <div class="layout-input d-flex" style="gap:8px">
            <div style="width:100%; ">
              <nz-select
                nzMode="multiple"
                formControlName="id_categorys"
                [nzPlaceHolder]="'trong' | translate"
                (ngModelChange)="updateService('id_categorys', { id_categorys: editProductForm.value.id_categorys })"
                nzShowSearch
              >
                <ng-container *ngFor="let o of categories">
                  <nz-option  nzCustomContent [nzValue]="o._id" [nzLabel]="renderOptionCategory(o)">
                    {{ renderOptionCategory(o) }}
                  </nz-option>
                </ng-container>
              </nz-select>
            </div>
            <button class="center-all-content button_list_unit" nz-button nzType="default" (click)="createCategory()">
              <span nz-icon nzType="plus-circle" nzTheme="outline"></span>
              {{'tao_nhanh' | translate}}
            </button>
          </div>
        </div>

        <div class="col-6 padding">
          <div class="d-flex align-items-center">
            <label for="name-input">{{'duong_dan_chi_tiet' | translate}}</label>
            <span class="ml-1"  style="margin-bottom: .5rem" nz-icon nzType="question-circle" nzTheme="outline" [nz-tooltip]="'chu_y_duong_dan_chi_co_the_la' | translate"></span>
          </div>
          <div class="layout-input">
            <input class="input" type="text" formControlName="link" placeholder="{{'nhap_duong_dan' | translate}}"
              (blur)="updateService('link', {link: editProductForm.value.link})">
              <div *ngIf="editProductForm.get('link').invalid && editProductForm.get('link').touched" class="error-message">
                <small *ngIf="editProductForm.get('link').errors.required">{{'vui_long_nhap_duong_dan' | translate}}</small>
                <small *ngIf="editProductForm.get('link').errors.pattern">{{'duong_dan_khong_hop_le' | translate}}</small>
              </div>
          </div>
        </div>
        <!-- Thương hiệu, đơn vị -->
        <div class="col-6 padding">
          <div>
            <label for="name-input">{{'don_vi' | translate}} <sup>*</sup></label>
          </div>
          <div class="layout-input d-flex" style="gap:8px">
            <input class="input" type="text" [formControl]="getFormControl('unit_' + functionService.languageTempCode)" placeholder="{{'nhap_don_vi' | translate}}"
              (blur)="updateDynamicField('unit', editProductForm.value['unit_' + functionService.languageTempCode])">
            <app-select-language-config [isAdmin]="true"></app-select-language-config>
          </div>
        </div>
        <!-- Giá bán, giá nhập -->
        <div class="col-6 padding">
          <div>
            <label for="name-input">{{'gia_ban' | translate}} <sup>*</sup></label>
          </div>
          <div class="layout-input">
            <input class="input price" type="text" formControlName="price" placeholder="{{'nhap_gia_ban' | translate}}"
              (blur)="updateService('price', {price: editProductForm.value.price})">
          </div>
        </div>
        <!-- Giá bán buôn, giá bán khuyến mãi -->

        <div class="col-6 padding">
          <div>
            <label for="name-input">{{'gia_ban_khuyen_mai' | translate}}</label>
          </div>
          <div class="layout-input">
            <input class="input price_sales" type="text" formControlName="webapp_price_sales"
              placeholder="{{'nhap_gia_ban_khuyen_mai' | translate}}"
              (blur)="updateService('webapp_price_sales', {webapp_price_sales: editProductForm.value.webapp_price_sales})">
          </div>
        </div>

        <!-- Số lượng cảnh báo hết hàng -->
        <ng-container>
          <div class="col-6 padding">
            <div>
              <label for="name-input">Barcode</label>
            </div>
            <div class="layout-input d-flex justify-content-between">
              <input (blur)="updateService('barcode', {barcode: editProductForm.value.barcode})" class="input warning_number" formControlName="barcode" placeholder="{{'nhap_quet_ma_vach_dich_vu' | translate}}">
              <i style="margin: 8px 0 0 8px; cursor: pointer" nz-icon nzType="reload" nzTheme="outline" nz-tooltip
                nzTooltipTitle="{{'tao_ma_vach_tu_dong' | translate}}" nzTooltipPlacement="bottom"
                (click)="generateBarcodesAutomatically()"></i>
            </div>
          </div>
        </ng-container>

        <div class="col-6 padding">
          <div class="flex items-center gap-2 mb-2">
            <label for="name-input" class="m-0">{{'lien_ket_chinh_tac' | translate}}</label>

            <i nz-icon nzType="question-circle" nzTheme="outline"  nz-popover [nzPopoverContent]="contentTemplateUrlCanonical"></i>
            <ng-template #contentTemplateUrlCanonical>
                <div style="max-width: 320px">
                  {{'giai_thich_url_canonical' | translate}}
                </div>
            </ng-template>
          </div>
          <div class="layout-input d-flex justify-content-between">
            <input (blur)="updateService('url_canonical', {url_canonical: editProductForm.value.url_canonical})" class="input" formControlName="url_canonical" placeholder="easywebapp.com/chi-tiet-san-pham/san-pham-1">
          </div>
        </div>

        <!-- Danh sách Trường tự định nghĩa -->
        <ng-container>
          <div class="col-6 padding" *ngFor="let item of newFields">
            <div>
              <label for="name-input">{{item?.field_lable}}<sup *ngIf="item.field_required">*</sup></label>
            </div>
            <div class="layout-input d-flex" style="gap:8px">
              <!-- <input class="input" [formControl]="getFormControl(item['field_custom'] + '_' + functionService.languageTempCode)" placeholder="{{item?.field_placeholder}}"
                [type]="item.field_typeof" (blur)="updateNewField(item['field_custom'] + '_' + functionService.languageTempCode, editProductForm.value[item['field_custom'] + '_' + functionService.languageTempCode])">
              <app-select-language-config [isAdmin]="true"></app-select-language-config> -->
               <ng-container *ngIf="item.field_input_type.includes('input')">
                <input class="input" [formControl]="getFormControl(item['field_custom'] + '_' + functionService.languageTempCode)" placeholder="{{item?.field_placeholder}}"
                [type]="getTypeInput(item)" (blur)="updateNewField(item['field_custom'] + '_' + functionService.languageTempCode, editProductForm.value[item['field_custom'] + '_' + functionService.languageTempCode])">
                <app-select-language-config [isAdmin]="true"></app-select-language-config>
              </ng-container>

              <ng-container *ngIf="item.field_input_type.includes('select')">
                <div style="width:100%;">
                  <app-vh-select
                    [categoriesChoosing]="editProductForm.get(item.field_input_type == 'select-multiple' ? item['field_custom'] : item['field_custom' ] + '_' + functionService.languageTempCode).value"
                    [labelSearch]="languageService.translate('tim') + ' ' + item.field_lable"
                    [multiple]="item.field_input_type == 'select-multiple'"
                    [listCategories]="item.data_list"
                    [fieldLabel]="'label_'+ functionService.languageTempCode"
                    [fieldValue]="'value_'+ functionService.languageTempCode"
                    (selectChange)="selectChange($event, item.field_input_type == 'select-multiple' ? item['field_custom'] : item['field_custom' ] + '_' + functionService.languageTempCode)"
                    [isObject]="item.field_input_type == 'select-multiple'">
                  </app-vh-select>
                </div>
                <app-select-language-config [isAdmin]="true"></app-select-language-config>
              </ng-container>
            </div>
          </div>
        </ng-container>
      </div>
      <!-- Bật/ tắt -->
      <div class="row padding">
        <div class="col-6 padding">
          <div class="d-flex justify-content-between">
            <label>{{'an_hien_thi_dich_vu_tren_website' | translate}}</label>
            <nz-switch formControlName="webapp_hidden"
              (ngModelChange)="updateService('webapp_hidden', {webapp_hidden: editProductForm.value.webapp_hidden})"></nz-switch>
          </div>
        </div>
      </div>



      <!-- Danh sách hình ảnh dịch vụ -->
      <div class="row p-0 m-0 pt-2">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p-0">
          <h3 class="m-0" style="color: #008848; font-size: 16px;">{{'hinh_anh_dich_vu_hien_thi_tren_website' | translate}}</h3>
        </div>
        <ng-template [ngTemplateOutlet]="listImages"></ng-template>
      </div>

      <div class="tab-editor">
        <div class="flag">
          <app-select-language-config [isAdmin]="true"></app-select-language-config>
        </div>
        <nz-tabset [(nzSelectedIndex)]="selectedIndexTabset" style="display: contents" class="row p-0 m-0">
          <nz-tab *ngFor="let item of ckeditorFields; let i = index" [nzTitle]="item.field_lable | translate">
            <ng-container *ngIf="selectedIndexTabset === i">
              <ckeditor
                class="ckeditor-admin"
                (blur)="updateDynamicField(item.field_custom, editProductForm.get(item.field_custom + '_' + functionService.languageTempCode).value)"
                [editor]="EDITOR" (ready)="onReady($event)" [config]="functionService.CKEDITORConfig"
                [formControl]="getFormControl(item.field_custom + '_' + functionService.languageTempCode)">
              </ckeditor>
            </ng-container>
          </nz-tab>

          <nz-tab *ngFor="let item of newFieldsCKEditor; let j = index" nzTitle="{{ item?.field_lable}}">
            <ng-container *ngIf="selectedIndexTabset === (ckeditorFields.length + j)">
              <ckeditor
                class="ckeditor-admin"
                (blur)="updateDynamicField(item.field_custom, editProductForm.get(item.field_custom + '_' + functionService.languageTempCode).value)"
                [editor]="EDITOR" (ready)="onReady($event)" [config]="functionService.CKEDITORConfig"
                [formControl]="getFormControl(item.field_custom + '_' + functionService.languageTempCode)">
              </ckeditor>
            </ng-container>
          </nz-tab>
        </nz-tabset>
      </div>

      <button class="_btn _btn_cancel d-flex align-items-center right-all-content mt-2" nz-button nzType="primary" (click)="openCKEditorByDevice()">
        {{'mo_ta_rieng_cho_tung_thiet_bi' | translate}}
      </button>

      <!-- Nội dùng SEO -->
      <div class="col-12" style="padding: 5pt 0 0;">
        <div>
          <div class="title d-flex flex-row justify-content-between">
            <h5 style="font-size: 16px; margin: 6pt 0px !important;">SEO</h5>
            <app-select-language-config [isAdmin]="true"></app-select-language-config>
          </div>
          <div class="_body_seo">
            <div class="d-flex justify-content-between align-items-center">
              <div class="label">
                <label class="m-0" for="webapp_seo_title">{{'tieu_de' | translate}}</label>
              </div>
              <div class="text">
                <input class="input" type="text" [formControl]="getFormControl('webapp_seo_title_' + functionService.languageTempCode)" id="webapp_seo_title"
                  placeholder="{{'nhap_tieu_de' | translate}}"
                  (blur)="updateDynamicField('webapp_seo_title', editProductForm.value['webapp_seo_title_' + functionService.languageTempCode])">
              </div>
            </div>
            <div class="d-flex justify-content-between align-items-center">
              <div class="label">
                <label class="m-0" for="webapp_seo_description">{{'mieu_ta' | translate}}</label>
              </div>
              <div class="text">
                <input class="input" type="text" [formControl]="getFormControl('webapp_seo_description_' + functionService.languageTempCode)" id="webapp_seo_description"
                  placeholder="{{'nhap_mieu_ta' | translate}}"
                  (blur)="updateDynamicField('webapp_seo_description', editProductForm.value['webapp_seo_description_' + functionService.languageTempCode])">
              </div>
            </div>
            <div class="d-flex justify-content-between align-items-center">
              <div class="label">
                <label class="m-0" for="webapp_seo_keyword">{{'tu_khoa' | translate}}</label>
              </div>
              <div class="text">
                <input class="input" type="text" [formControl]="getFormControl('webapp_seo_keyword_' + functionService.languageTempCode)" id="webapp_seo_keyword"
                  placeholder="{{'nhap_tu_khoa' | translate}}" data-role="tagsinput"
                  (blur)="updateDynamicField('webapp_seo_keyword', editProductForm.value['webapp_seo_keyword_' + functionService.languageTempCode])">
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
    <!-- Danh sách hình ảnh của sản phẩm -->
    <ng-template #listImages>
      <app-list-images [imgs]="listImgProduct" [folderName]="'images/database/services'"
        (sendImgs)="sendImgs($event)" [setupsImage]="data.setupServiceImg"> </app-list-images>
    </ng-template>
  </div>
</div>
